---
import NavigationCard from "@components/NavigationCard.astro";
import Subtitle from "@components/Subtitle.astro";
import Layout from "@layouts/Layout.astro";
import { capitalize, getFolders } from "@utils/utils";
import { getCollection } from "astro:content";

const docs = await getCollection("docs");
const folders = getFolders(docs);
---

<Layout title="Documentos | Uriel Spiridione" description="Documentos">
  <main
    class="text-neutral-800 dark:text-neutral-200 flex items-center flex-col"
  >
    <section class="max-w-2xl w-full my-20">
      <Subtitle>Documentos</Subtitle>
      <div class="flex flex-wrap gap-3 px-5 mt-8">
        {
          folders.map((folder) => (
            <NavigationCard
              href={`/docs/${folder}`}
              label={capitalize(folder)}
            />
          ))
        }
      </div>
    </section>
  </main>
</Layout>
