---
import HomeIcon from "@components/icons/HomeIcon.astro";
import DevlyIcon from "@components/icons/DevlyIcon.astro";
import SearchButton from "./SearchButton.astro";
import ThemeButton from "./ThemeButton.astro";
import LinkButton from "@components/LinkButton.astro";
import Button from "@components/Button.astro";
import MenuIcon from "@components/icons/MenuIcon.astro";
import type { Link } from "@utils/models/links.interface";

const currentPath = Astro.url.pathname.split("/")[1];

const nav: Link[] = [
  { label: "Blog", path: "/blog" },
  { label: "Collections", path: "/collections" },
  { label: "Snippets", path: "/snippet" },
  { label: "Daily", path: "/daily" },
];
---

<nav
  class="sticky top-0 z-10 flex justify-center bg-neutral-100/50 text-neutral-600 backdrop-blur-md dark:bg-neutral-950/50 dark:text-neutral-400"
>
  <div
    class="min-h-[3.5rem] w-full max-w-4xl items-center justify-between px-5 md:flex"
  >
    <section class="flex h-14 flex-1 items-center justify-between">
      <a href="/" class="flex items-center gap-2">
        <DevlyIcon class="h-4" />
        <span class="font-semibold">Uriel Spiridione</span>
      </a>
      <Button id="menu" aria-label="Menu button" class="block md:hidden">
        <MenuIcon class="h-5" />
      </Button>
    </section>
    <section
      class="navmenu-toggle max-h-0 items-center overflow-hidden md:flex md:h-full md:max-h-none"
      id="navmenu-toggle"
    >
      <div
        class="md:items flex flex-col gap-5 pb-5 pt-3 md:flex-row md:gap-2 md:pb-0 md:pt-0"
      >
        <ul class="flex flex-col gap-2 px-5 md:flex-row md:px-0">
          {
            nav.map((item) => (
              <li>
                <LinkButton href={item.path} class="flex px-2 py-1.5">
                  <span
                    class={`${
                      currentPath.includes(item.path.slice(1)) &&
                      "text-cyan-600 transition-all dark:text-neutral-200"
                    } text-sm md:text-base`}
                  >
                    {item.label}
                  </span>
                </LinkButton>
              </li>
            ))
          }
        </ul>
        <div class="flex items-center justify-around gap-2">
          <LinkButton href="/" class="p-1 md:hidden">
            <HomeIcon class="h-6 md:h-5" />
          </LinkButton>
          <SearchButton />
          <ThemeButton />
        </div>
      </div>
    </section>
  </div>
</nav>

<script>
  document.addEventListener("astro:page-load", () => {
    const menuButton = document.getElementById("menu");
    const toggle = document.getElementById("navmenu-toggle");
    menuButton?.addEventListener("click", () => {
      toggle?.classList.toggle("height-transition");
    });
  });
</script>

<style>
  .navmenu-toggle {
    transition: max-height 0.3s linear;
  }
  .height-transition {
    max-height: 400px;
  }
</style>
