---
import ThemeButton from "./ThemeButton.astro";
---

<nav
  class="h-16 shadow-md dark:shadow-neutral-700 w-full flex items-center px-8 justify-between"
>
  <span class="font-semibold text-neutral-900 dark:text-white text-2xl"
    >🖥️ Mini Blog</span
  >
  <div>
    <ThemeButton />
  </div>
</nav>
