---
import HomeIcon from "@components/icons/HomeIcon.astro";
import DevlyIcon from "@components/icons/DevlyIcon.astro";
import SearchButton from "./SearchButton.astro";
import ThemeButton from "./ThemeButton.astro";
import LinkButton from "@components/LinkButton.astro";
import Button from "@components/Button.astro";
import MenuIcon from "@components/icons/MenuIcon.astro";
import type { Link } from "@utils/models/links.interface";

const currentPath = Astro.url.pathname.split("/")[1];
const navItems: Link[] = [
  { label: "Blog", path: "/blog" },
  { label: "Explorar", path: "/explore" },
  { label: "Sobre mi", path: "/about" },
  { label: "Collections", path: "/collections" },
  { label: "Snippets", path: "/snippet" },
  { label: "Daily", path: "/daily" },
];
---

<nav
  class="sticky top-0 md:h-16 py-3 dm:py-0 shadow-md dark:shadow-sm dark:shadow-neutral-700 w-full px-2 md:px-8 text-neutral-700 dark:text-neutral-400 flex items-center z-10 bg-neutral-50 dark:bg-neutral-900"
  transition:animate="none"
>
  <div class="md:flex items-center justify-between w-full">
    <div class="flex flex-1 md:flex-none items-center">
      <Button class="block md:hidden" id="menu" aria-label="Menu button">
        <MenuIcon class="h-7" />
      </Button>
      <a
        href="/"
        class="flex flex-1 md:flex-none gap-2 items-center justify-center"
        ><DevlyIcon class="h-5" />
        <span class="font-semibold text-xl"> Uriel Spiridione</span>
      </a>
    </div>
    <div
      class="flex flex-col md:flex-row md:flex-1 gap-5 md:gap-1 lg:gap-3 overflow-hidden md:h-full max-h-0 md:max-h-none navmenu-toggle"
      id="navmenu-toggle"
    >
      <div
        class="flex flex-col md:flex-row gap-1 lg:gap-3 px-5 md:px-0 mt-5 md:mt-0 md:flex-1 lg:justify-center sm:justify-end"
      >
        {
          navItems.map((item) => (
            <LinkButton href={item.path} class="h-9 flex items-center px-2">
              <span
                class={`${
                  currentPath.includes(item.path.slice(1))
                    ? "text-cyan-600 dark:text-neutral-200 transition-all"
                    : ""
                } text-sm md:text-base`}
              >
                {item.label}
              </span>
            </LinkButton>
          ))
        }
      </div>
      <div class="flex justify-around items-start md:gap-1 lg:gap-3">
        <LinkButton
          href="/"
          class="h-9 px-1 flex items-center md:hidden"
          aria-label="Go to home"
        >
          <HomeIcon class="w-7" />
        </LinkButton>
        <SearchButton />
        <ThemeButton />
      </div>
    </div>
  </div>
</nav>

<script>
  document.addEventListener("astro:page-load", () => {
    const menuButton = document.getElementById("menu");
    const toggle = document.getElementById("navmenu-toggle");
    menuButton?.addEventListener("click", () => {
      toggle?.classList.toggle("height-transition");
    });
  });
</script>

<style>
  .navmenu-toggle {
    transition: max-height 0.3s linear;
  }
  .height-transition {
    max-height: 400px;
  }
</style>
