---
import SearchButton from "./SearchButton.astro";
import ThemeButton from "./ThemeButton.astro";
import LinkButton from "@components/LinkButton.astro";
---

<nav
  class="h-16 shadow-md dark:shadow-sm dark:shadow-neutral-700 w-full flex items-center px-8 justify-between text-neutral-900 dark:text-neutral-200"
>
  <a href="/">
    <span class="font-semibold text-xl">🖥️ Mini Blog</span>
  </a>
  <div class="flex items-start gap-3">
    <nav class="flex gap-3">
      <LinkButton href="/blog" class="h-9 flex items-center px-2">
        Blog
      </LinkButton>
      <LinkButton href="/collections" class="h-9 flex items-center px-2">
        Collections
      </LinkButton>
    </nav>
    <SearchButton />
    <ThemeButton />
  </div>
</nav>
