---
import Button from "@components/Button.astro";
import Dialog from "@components/Dialog.astro";
import SearchIcon from "@components/icons/SearchIcon.astro";
import Search from "./Search.astro";
---

<Button open-dialog dialog-id="search">
  <SearchIcon class="fill-neutral-400 h-7" />
</Button>
<Dialog id="search" class="md:max-w-lg md:w-full">
  <div class="px-2 pt-3 text-neutral-500 dark:text-neutral-200">
    <Search />
  </div>
  <footer class="p-1 flex gap-2 flex-row-reverse">
    <Button dialog-close class="p-2" custom-id="1234">Cancel</Button>
  </footer>
</Dialog>
