---
import Button from "@components/Button.astro";
import Dialog from "@components/Dialog.astro";
import SearchIcon from "@components/icons/SearchIcon.astro";
---

<Button open-dialog dialog-id="search">
  <SearchIcon class="fill-neutral-400 h-7" />
</Button>
<Dialog id="search">
  <div class="px-2 pt-3 dark:text-white">
    <h1 class="text-2xl">Bienvenidos UNO</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim et, atque
      ipsum quia tenetur, eum natus voluptatem quisquam, at fugit mollitia.
      Harum fugiat officiis fugit in dolore assumenda ipsum reiciendis?
    </p>
  </div>
  <div class="p-1 flex gap-2 flex-row-reverse">
    <Button dialog-close class="p-2" custom-id="1234">Cancel</Button>
  </div>
</Dialog>
