---
import Button from "@components/Button.astro";
import MoonIcon from "@components/icons/MoonIcon.astro";
import SunIcon from "@components/icons/SunIcon.astro";
---

<Button id="toggle-dark-mode">
  <SunIcon />
  <MoonIcon class="hide-icon" />
</Button>

<script>
  // Script Dark Mode
  const setDarkMode = () => {
    const elementHtml = document.getElementById("layout");
    const dark = localStorage.getItem("theme");
    const svgMoon = document.getElementById("moon-icon");
    const svgSun = document.getElementById("sun-icon");
    if (dark && dark == "false") {
      elementHtml?.classList.toggle("dark");
      svgMoon?.classList.toggle("hide-icon");
      svgSun?.classList.toggle("hide-icon");
    }
    document
      .getElementById("toggle-dark-mode")
      ?.addEventListener("click", () => {
        elementHtml?.classList.toggle("dark");
        svgMoon?.classList.toggle("hide-icon");
        svgSun?.classList.toggle("hide-icon");
        localStorage.setItem(
          "theme",
          elementHtml?.classList.contains("dark") ? "true" : "false"
        );
      });
  };
  setDarkMode();

  document.addEventListener("astro:after-swap", setDarkMode);
</script>

<style is:global lang="scss">
  .hide-icon {
    display: none;
  }
</style>
