<section class="about_section h-auto position-relative" id="about">
    <div class="about_container d-flex flex-row align-items-center justify-content-center h-100">
        <div class="image_container m-4 d-none d-lg-inline">
            <img [src]="data.images.about" alt="Foto de perfil de Uriel Spiridione" class="profile_img">
        </div>

        <div class="about_info_container p-4 p-lg-0">
            <div class="about_title_container d-flex flex-row align-items-center">
                <h1 class="about_title">About</h1>
                <i class="fa-solid fa-pen-to-square edit_button ico_about mb-3 ms-3" data-bs-toggle="modal" data-bs-target="#aboutModal" (click)="updateData( this.dataToEdit, this.data )"></i>
            </div>

            <div class="modal fade" id="aboutModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form action="" (ngSubmit)="onSubmit()">
                            <div class="modal-header">
                                <h5 class="modal-title text-dark" id="exampleModalLabel">Personal information</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <h5 class="text-dark">Basic</h5>
                                <div class="row g-2 mb-2">
                                    <div class="col-sm">
                                        <input type="text" class="form-control" id="InputName" placeholder="Name" name="name" [(ngModel)]="dataToEdit.name">
                                    </div>
                                    <div class="col-sm">
                                        <input type="text" class="form-control" id="InputLastName" placeholder="Last name" name="surname" [(ngModel)]="dataToEdit.surname">
                                    </div>
                                </div>
                                <div class="row g-2 mb-2">
                                    <div class="col-sm">
                                        <input type="text" class="form-control" id="InputAddress" placeholder="Address" name="address" [(ngModel)]="dataToEdit.address">
                                    </div>
                                    <div class="col-sm">
                                        <input type="number" class="form-control" id="InputAge" placeholder="Age" name="age" [(ngModel)]="dataToEdit.age" >
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <input type="text" class="form-control" id="InputPhone" placeholder="Phone" name="phone" [(ngModel)]="dataToEdit.phone">
                                </div>
                                <div class="mb-3">
                                    <input type="email" class="form-control" id="InputEmail" placeholder="Email" name="email" [(ngModel)]="dataToEdit.email">
                                </div>
                                <h6 class="text-dark">Birth Date</h6>
                                <div class="row g-2 mb-3">
                                    <div class="col-sm">
                                        <input type="number" class="form-control" id="InputBirthDay" placeholder="Day" name="day" [(ngModel)]="date.day">
                                    </div>
                                    <div class="col-sm">
                                        <select class="form-select" name="month" [(ngModel)]="date.month">
                                            <option selected class="text-dark">Month</option>
                                            <option value="January" class="text-dark">January</option>
                                            <option value="February" class="text-dark">February</option>
                                            <option value="March" class="text-dark">March</option>
                                            <option value="April" class="text-dark">April</option>
                                            <option value="May" class="text-dark">May</option>
                                            <option value="June" class="text-dark">June</option>
                                            <option value="July" class="text-dark">July</option>
                                            <option value="August" class="text-dark">August</option>
                                            <option value="September" class="text-dark">September</option>
                                            <option value="October" class="text-dark">October</option>
                                            <option value="November" class="text-dark">November</option>
                                            <option value="December" class="text-dark">December</option>
                                        </select>
                                    </div>
                                    <div class="col-sm">
                                        <input type="number" min="1900" max="2099" step="1" class="form-control" id="InputBirthYear" placeholder="Year" name="year" [(ngModel)]="date.year">
                                    </div>
                                </div>
                                <h6 class="text-dark">Little description for header</h6>
                                <div class="mb-3">
                                    <textarea class="form-control" id="FormTextareaLittle" name="lit_about" [(ngModel)]="dataToEdit.lit_about"></textarea>
                                </div>
                                <h6 class="text-dark">Description for about section</h6>
                                <div class="mb-3">
                                    <textarea class="form-control" id="FormTextareaAbout" name="about" [(ngModel)]="dataToEdit.about"></textarea>
                                </div>
                                <h5 class="text-dark">Images</h5>
                                <div class="mb-2">
                                    <input type="text" class="form-control" id="InputHeaderImg" placeholder="Header image url" name="image_header" [(ngModel)]="dataToEdit.images.header">
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="InputAboutImg" placeholder="About image url" name="image_about" [(ngModel)]="dataToEdit.images.about">
                                </div>
                                <h5 class="text-dark">Social Media</h5>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="InputFacebookUrl">https://facebook.com/</span>
                                    <input type="text" class="form-control" id="FacebookUrl" placeholder="Facebook user" name="facebook" [(ngModel)]="linksToEdit.facebook">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="InputInstagramUrl">https://instagram.com/</span>
                                    <input type="text" class="form-control" id="InstagramUrl" placeholder="Instagram user" name="instagram" [(ngModel)]="linksToEdit.instagram">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="InputTwitterUrl">https://twitter.com/</span>
                                    <input type="text" class="form-control" id="TwitterUrl" placeholder="Twitter user" name="twitter" [(ngModel)]="linksToEdit.twitter">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="InputGithubUrl">https://github.com/</span>
                                    <input type="text" class="form-control" id="GithubUrl" placeholder="Github user" name="github" [(ngModel)]="linksToEdit.github">
                                </div>
                                <div class="mb-3">
                                    <input type="url" class="form-control" id="CvUrl" placeholder="CV downloadable link" name="cv" [(ngModel)]="linksToEdit.cv">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <p class="about_info">
                {{data?.about}}
            </p>
            <div class="about_list_container">
                <ul>
                    <li>
                        <span>
                            Name: 
                        </span>
                        {{data?.name}} {{data?.surname}}
                    </li>
                    <li>
                        <span>
                            Age: 
                        </span>
                        {{data?.age}}
                    </li>
                    <li>
                        <span>
                            Address: 
                        </span>
                        {{data?.address}}
                    </li>
                    <li>
                        <span>
                            Birth date:
                        </span>
                        {{data?.birth_date}}
                    </li>
                    <li>
                        <span>
                            Phone: 
                        </span>
                        {{data?.phone}}
                    </li>
                    <li>
                        <span>
                            Email: 
                        </span>
                        {{data?.email}}
                    </li>
                </ul>
            </div>
            
            <div class="button_container">
                <a [href]="links?.cv" class="about_download_button button d-inline-flex">
                    <div class="about_download d-flex flex-row">
                        <div class="about_icon_container d-flex flex-column me-1 pt-1">
                            <i class="fa-solid fa-arrow-down"></i>
                            <i class="fa-solid fa-minus"></i>
                        </div>
                        DOWNLOAD CV
                    </div>
                </a>  
            </div>
        </div>
    </div> 
</section>