<section class="about_section h-auto position-relative" id="about">
    <div class="about_container d-flex flex-row align-items-center justify-content-center h-100">
        <div class="image_container m-4 d-none d-lg-inline">
            <img src="/../assets/img/perfil.jpg" alt="Foto de perfil de Uriel Spiridione" class="profile_img">
        </div>

        <div class="about_info_container p-4 p-lg-0">
            <div class="about_title_container d-flex flex-row align-items-center">
                <h1 class="about_title">About</h1>
                <i class="fa-solid fa-pen-to-square edit_button ico_about mb-3 ms-3"></i>
            </div>
            <p class="about_info">
                My name is Uriel Spiridione. I'm student of economic sciences, photographer and Full Stack Developer based in Córdoba, Argentina.
            </p>
            <div class="about_list_container">
                <ul>
                    <li>
                        <span>
                            Name: 
                        </span>
                        Uriel Spiridione
                    </li>
                    <li>
                        <span>
                            Age: 
                        </span>
                        22
                    </li>
                    <li>
                        <span>
                            Address: 
                        </span>
                        Córdoba, Argentina
                    </li>
                    <li>
                        <span>
                            Birth date:
                        </span>
                        August 4, 1999
                    </li>
                    <li>
                        <span>
                            DNI: 
                        </span>
                        42052783
                    </li>
                    <li>
                        <span>
                            Phone: 
                        </span>
                        +54 351 213-6765
                    </li>
                    <li>
                        <span>
                            Email: 
                        </span>
                        urielspiridione135@gmail.com
                    </li>
                </ul>
            </div>
            
            <div class="button_container ">
                <a href="#" class="about_download_button button d-inline-flex">
                    <div class="about_download d-flex flex-row">
                        <div class="about_icon_container d-flex flex-column me-1 pt-1">
                            <i class="fa-solid fa-arrow-down"></i>
                            <i class="fa-solid fa-minus"></i>
                        </div>
                        DOWNLOAD CV
                    </div>
                </a>  
            </div>
        </div>
    </div> 
</section>