<footer>
    <section class="socialmedia" id="socialmedia">
        <div class="social_container d-flex flex-row justify-content-center align-items-center">
            <a class="social_button" href="https://www.facebook.com/UrieLSpiridion3" target="_blank">
                <div class="social_icon">
                    <i class="fa-brands fa-facebook-f"></i>
                </div>
                <span>Facebook</span>
            </a>
            <a class="social_button" href="https://twitter.com/UrielSpiridione" target="_blank">
                <div class="social_icon">
                    <i class="fa-brands fa-twitter"></i>
                </div>
                <span>Twitter</span>
            </a>
            <a class="social_button" href="https://www.instagram.com/urielspiridione/" target="_blank">
                <div class="social_icon">
                    <i class="fa-brands fa-instagram"></i>
                </div>
                <span>Instagram</span>
            </a>
            <a class="social_button" href="https://github.com/USpiri" target="_blank">
                <div class="social_icon">
                    <i class="fa-brands fa-github"></i>
                </div>
                <span>GitHub</span>
            </a>
        </div>
        <div class="copy">
            <p><b>All Right Reserved © 2022 <span>Uriel Spiridione</span></b></p>
        </div>
    </section>
</footer>