.socialmedia{
    background-color: #1f2233;
}
.social_container{
    height: 150px;
}
.social_button{
    height: 60px;
    width: 60px;
    margin: 0 10px;
    background: #24283d;
    overflow: hidden;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.3);
    transition: all 0.3s ease-out;
    text-decoration: none;
}
.social_button:hover{
    width: 200px;
}
.social_icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.social_button:nth-child(1):hover .social_icon{
    background: #4267B2;
}

.social_button:nth-child(2):hover .social_icon{
    background: #1DA1F2;
}

.social_button:nth-child(3):hover .social_icon{
    background: #E1306C;
}

.social_button:nth-child(4):hover .social_icon{
    background: white;
}

.social_button:nth-child(4):hover .social_icon > .fa-github{
    color: black;
}

.social_icon i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

/* .social_button:hover .social_icon i{
    color: white;
} */

.social_button span{
    font-size: 18px;
    font-weight: 600;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
}

.social_button:nth-child(1) span{
    color: #4267B2;
}
.social_button:nth-child(2) span{
    color: #1DA1F2;
}
.social_button:nth-child(3) span{
    color: #E1306C;
}
.copy>p>b{
    font-size: 15px;
    font-weight: 600;
    color: #b3bab9;
}

.copy>p>b>span{
    color: #dc3545;
}

.copy>p{
    text-align: center;
    padding-bottom: 15px;
    margin: 0;
}