<nav class="navbar navbar-expand-lg nav sticky-top shadow">
    <div class="container-fluid nav_container m-2 m-lg-3">

        <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"
            class="nav_logo navbar-brand ms-3">
            <img src="/../assets/img/logo.png" alt="Logo de Argentina Programa" class="nav_logo_img">
            <span class="ps-1"> #YoProgramo</span>
        </a>

        <button class="navbar-toggler shadow-none me-3" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span><i class="navbar-toggler-icon fa-solid fa-bars nav-toggle-icon nav_link"></i></span>
        </button>

        <div #navMenu class="nav_menu_collapse collapse navbar-collapse justify-content-end" id="navbarSupportedContent" >
            <ul class="nav_list navbar-nav me-3 mb-2 mb-lg-0">

                <li>
                    <hr class="w-100">
                </li>

                <li class="nav-item">
                    <a href="#home" class="nav-link nav_link">Home</a>
                </li>

                <li class="nav-item">
                    <a href="#about" class="nav-link nav_link">About</a>
                </li>

                <li class="nav-item">
                    <a href="#experience" class="nav-link nav_link">Experience</a>
                </li>

                <li class="nav-item">
                    <a href="#education" class="nav-link nav_link">Education</a>
                </li>

                <li class="nav-item">
                    <a href="#skills" class="nav-link nav_link">Skills</a>
                </li>

                <li class="nav-item">
                    <a href="#projects" class="nav-link nav_link">Projects</a>
                </li>

                <li class="nav-item">
                    <a href="#contact" class="nav-link nav_link">Contact</a>
                </li>

                <li class="nav-item pt-1">
                  <i class="fa-solid fa-circle-user nav_user nav-link nav_link" data-bs-toggle="modal" data-bs-target="#loginModal"></i>
                </li>

            </ul>
        </div>
    </div>
</nav>