.nav_logo > span {
    font-size: medium;
    font-weight: 800;
    vertical-align: middle;
}

.nav_container{
    transition: all .3s;
}

.nav_logo_img{
    width: 100px;
}

.navbar{
    background-color: #24283d;
}

.nav-toggle-icon{
    width: auto;
    height: auto;
}

.nav_link{
    color: white;
    transition: all .3s;
}

.nav_link:hover{
    color: #dc3545;
}

.nav_user{
    cursor: pointer;
}