.header_container{
    background-color: #1f2233;
    min-height: 95vh;
}

.scan{
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.scan .fingerprint{
    position: relative;
    width: 100px;
    height: 97px;
    background: url(../../../assets/img/pngegg.png);
    background-size: 100px;
}

.scan .fingerprint::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../../../assets/img/pngegg1.png);
    background-size: 100px;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
    0%,100%{
        height: 0%;
    }
    50%{
        height: 100%;
    }
}

.scan .fingerprint::after{
    content: "";
    position: absolute;
    top: 0;
    left: -3px;
    width: 105%;
    height: 5px;
    background: #dc3545;
    border-radius: 8px;
    filter: drop-shadow(0 0 20px #dc3545) drop-shadow(0 0 63px #dc3545);
    animation: animate_line 4s ease-in-out infinite;
}

@keyframes animate_line {
    0%,100%{
        top: 0%;
    }
    50%{
        top: 100%;
    }
}