---
import { sortPosts } from "@utils/sort";
import type { Page } from "@utils/models/page.interface";
import { getCollection, type CollectionEntry } from "astro:content";
import PostCard from "@components/PostCard.astro";
import PostDivider from "@components/PostDivider.astro";
import Layout from "@layouts/Layout.astro";
import Pagination from "@components/Pagination.astro";
import Title from "@components/Title.astro";

export async function getStaticPaths({ paginate }: any) {
  const posts = sortPosts(await getCollection("blog"));
  return paginate(posts, { pageSize: 5 });
}

interface Props {
  page: Page<CollectionEntry<"blog">>;
}

const { page } = Astro.props;
---

<Layout
  title="Blog | Uriel Spiridione"
  description="Sigue en mi blog personal para aprender temas de programación, tips, econoía, etc. No te lo pierdas!"
>
  <main
    class="text-neutral-800 dark:text-neutral-200 flex items-center flex-col"
  >
    <section class="max-w-3xl w-full my-20">
      <Title>Blog</Title>
      <ul class="mt-8 px-2 md:px-0">
        {
          page.data.map((post, i) => (
            <li>
              {i !== 0 && <PostDivider />}
              <PostCard post={post} />
            </li>
          ))
        }
      </ul>
      {
        page.total > page.size && (
          <div class="flex justify-center mt-8 md:mt-12">
            <Pagination
              firstPage={page.currentPage !== 1 ? "/blog" : null}
              previousPage={
                page.url.prev
                  ? page.url.prev === "1"
                    ? '"/blog"'
                    : page.url.prev
                  : null
              }
              nextPage={page.url.next ? page.url.next : null}
              lastPage={
                page.currentPage !== page.lastPage
                  ? `/blog/${page.lastPage}`
                  : null
              }
              currentPage={page.currentPage}
              totalPages={page.lastPage}
            />
          </div>
        )
      }
    </section>
  </main>
</Layout>
