---
import Pagination from "@components/Pagination.astro";
import PostCard from "@components/PostCard.astro";
import PostDivider from "@components/PostDivider.astro";
import Title from "@components/Title.astro";
import Layout from "@layouts/Layout.astro";
import { sortPosts } from "@utils/sort";
import { getCollection } from "astro:content";

const limit = 5;
const posts = sortPosts(await getCollection("blog"));
const postsSize = posts.length;
const sorteredPosts = sortPosts(posts, { limit });
const lastPage = Math.ceil(postsSize / limit);
---

<Layout
  title="Blog | Uriel Spiridione"
  description="Sigue en mi blog personal para aprender temas de programación, tips, econoía, etc. No te lo pierdas!"
>
  <main class="flex items-center flex-col">
    <section class="max-w-3xl w-full my-20">
      <Title>Blog</Title>
      <ul class="mt-8 px-2 md:px-0">
        {
          sorteredPosts.map((post, i) => (
            <li>
              {i !== 0 && <PostDivider />}
              <PostCard post={post} />
            </li>
          ))
        }
      </ul>
      <div class="flex justify-center mt-8 md:mt-12">
        <Pagination
          nextPage={`/blog/${2}`}
          lastPage={`/blog/${lastPage}`}
          currentPage={1}
          totalPages={lastPage}
        />
      </div>
    </section>
  </main>
</Layout>
