<div class="presentation_container w-75 d-flex flex-column flex-lg-row position-absolute top-50 start-50 translate-middle mt-5 align-items-center justify-content-center">

    <div class="home_presentation d-flex flex-column justify-content-center">

        <h2 class="home_presentation_text"><span>Hi there! I'm</span></h2>

        <h1 class="home_presentation_name">{{data?.name}} {{data?.surname}}</h1>

        <h2 class="home_presentation_text">{{data?.lit_about}}</h2>

        <div class="home_buttons_container">
            <a href="#contact" class="home_button button p-3">CONTACT ME</a>
        </div>

    </div>
    <div class="image_container">
        <img src="/../assets/img/perfil.jpg" alt="Foto de perfil de Uriel Spiridione" class="profile_img rounded-circle">
    </div>
</div>
