---
import { getFolders, getFolder } from "@utils/utils";
import { type CollectionEntry, getCollection } from "astro:content";
import DocsFolders from "./DocsFolders.astro";

export interface DocFolder {
  title: string;
  content: CollectionEntry<"docs">[];
  type: "file" | "folder";
}

const docs = await getCollection("docs");
const foldersArray = getFolders(docs);
const folders: DocFolder[] = foldersArray.map((folder) => {
  const content = docs.filter((doc) => getFolder(doc.slug) === folder);
  return {
    title: folder,
    content: content,
    type:
      content.length === 1 && content[0].slug.split("/").length === 1
        ? "file"
        : "folder",
  };
});
---

<ul class="px-8">
  {
    folders.map((folder) => (
      <li class="mt-8">
        <DocsFolders folder={folder} />
      </li>
    ))
  }
</ul>
