<section class="projects vh-100" id="projects">
    <div class="projects_container d-flex flex-column justify-content-center align-items-center h-100">
        <div class="project_header d-flex flex-row justify-content-center">
            <h1 class="project_title">Projects</h1>
            <div class="ico_container">
                <i class="fa-solid fa-pen-to-square edit_button edit_button_ico position-absolute mt-2 ms-3"></i>
            </div>
        </div>
        <hr class="project_hr opacity-100 w-25 mt-1">
        <div class="project_cards_container">
            <!-- <ul class="project_cards">
                <li class="project_card"><a class="project_link" href="#"> 
                    <div class="project_card_header animated_bg project_card_img" id="project_header">

                        <img src="https://images.unsplash.com/photo-1636622433525-127afdf3662d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80" alt="Imagen del proyecto ProjectTITULO">
                    </div>
                    <div class="project_card_content">
                        <h3 class="project_card_title fs-5 m-0" id="title">
    
                            Project TITULO
                        </h3>
                        <p class="project_card_text lh-sm mt-3 mb-6" id="text">
    
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, dicta.
                        </p>
                        <div class="project_button_container"><a href="#" class="button d-block p-3">WEB / GITHUB</a></div>
                    </div>
                </a></li>
                <li class="project_card"><a class="project_link" href="#"> 
                    <div class="project_card_header animated_bg project_card_img" id="project_header">

                        <img src="https://images.unsplash.com/photo-1636622433525-127afdf3662d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80" alt="Imagen del proyecto ProjectTITULO">
                    </div>
                    <div class="project_card_content">
                        <h3 class="project_card_title fs-5 m-0" id="title">
    
                            Project TITULO
                        </h3>
                        <p class="project_card_text lh-sm mt-3 mb-6" id="text">
    
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, dicta.
                        </p>
                        <div class="project_button_container"><a href="#" class="button d-block p-3">WEB / GITHUB</a></div>
                    </div>
                </a></li>
                <li class="project_card"><a class="project_link" href="#"> 
                    <div class="project_card_header animated_bg project_card_img" id="project_header">

                        <img src="https://images.unsplash.com/photo-1636622433525-127afdf3662d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80" alt="Imagen del proyecto ProjectTITULO">
                    </div>
                    <div class="project_card_content">
                        <h3 class="project_card_title fs-5 m-0" id="title">
    
                            Project TITULO
                        </h3>
                        <p class="project_card_text lh-sm mt-3 mb-6" id="text">
    
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, dicta.
                        </p>
                        <div class="project_button_container"><a href="#" class="button d-block p-3">WEB / GITHUB</a></div>
                    </div>
                </a></li>
                <li class="project_card"><a class="project_link" href="#"> 
                    <div class="project_card_header animated_bg project_card_img" id="project_header">

                        <img src="https://images.unsplash.com/photo-1636622433525-127afdf3662d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80" alt="Imagen del proyecto ProjectTITULO">
                    </div>
                    <div class="project_card_content">
                        <h3 class="project_card_title fs-5 m-0" id="title">
    
                            Project TITULO
                        </h3>
                        <p class="project_card_text lh-sm mt-3 mb-6" id="text">
    
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, dicta.
                        </p>
                        <div class="project_button_container"><a href="#" class="button d-block p-3">WEB / GITHUB</a></div>
                    </div>
                </a></li>
                <li class="project_card"><a class="project_link" href="#"> 
                    <div class="project_card_header animated_bg project_card_img" id="project_header">

                        <img src="https://images.unsplash.com/photo-1636622433525-127afdf3662d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80" alt="Imagen del proyecto ProjectTITULO">
                    </div>
                    <div class="project_card_content">
                        <h3 class="project_card_title fs-5 m-0" id="title">
    
                            Project TITULO
                        </h3>
                        <p class="project_card_text lh-sm mt-3 mb-6" id="text">
    
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, dicta.
                        </p>
                        <div class="project_button_container"><a href="#" class="button d-block p-3">WEB / GITHUB</a></div>
                    </div>
                </a></li>
                <li class="project_card"><a class="project_link" href="#"> 
                    <div class="project_card_header animated_bg project_card_img" id="project_header">

                        <img src="https://images.unsplash.com/photo-1636622433525-127afdf3662d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80" alt="Imagen del proyecto ProjectTITULO">
                    </div>
                    <div class="project_card_content">
                        <h3 class="project_card_title fs-5 m-0" id="title">
    
                            Project TITULO
                        </h3>
                        <p class="project_card_text lh-sm mt-3 mb-6" id="text">
    
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, dicta.
                        </p>
                        <div class="project_button_container"><a href="#" class="button d-block p-3">WEB / GITHUB</a></div>
                    </div>
                </a></li>
            </ul> -->
            <swiper class="project_cards my-swiper my_swiper"
                style="--swiper-navigation-color: #dc3545;--swiper-pagination-color: #dc3545"
                [slidesPerView]="1"
                [spaceBetween]="10"
                [navigation]="true"
                [centeredSlides]="true"
                [keyboard]="{
                    enabled: true
                }"
                [loop]="true"
                [loopFillGroupWithBlank]="true"
                [pagination]="{
                clickable: true
                }"
                [autoplay]="true"
                class="my-swiper my_swiper"
                [speed]="1000"
                [breakpoints]="{
                    '640': {
                    slidesPerView: 2,
                    spaceBetween: 20
                    },
                    '930': {
                    slidesPerView: 3,
                    spaceBetween: 20
                    },
                    '1250': {
                    slidesPerView: 4,
                    spaceBetween: 30
                    },
                    '1300': {
                        slidesPerView: 5,
                        spaceBetween: 30
                    }
                }"
            >
                <ng-template swiperSlide class="swiper_slide">
                    <div class="project_card"><a class="project_link" href="#"> 
                        <div class="project_card_header animated_bg project_card_img" id="project_header">

                            <img src="https://images.unsplash.com/photo-1636622433525-127afdf3662d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80" alt="Imagen del proyecto ProjectTITULO">
                        </div>
                        <div class="project_card_content">
                            <h3 class="project_card_title fs-5 m-0" id="title">
        
                                Project 1
                            </h3>
                            <p class="project_card_text lh-sm mt-3 mb-6" id="text">
        
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, dicta.
                            </p>
                            <div class="project_button_container"><a href="#" class="button d-block p-3">WEB / GITHUB</a></div>
                        </div>
                    </a></div>
                </ng-template>
                <ng-template swiperSlide class="swiper_slide">
                    <div class="project_card"><a class="project_link" href="#"> 
                        <div class="project_card_header animated_bg project_card_img" id="project_header">

                            <img src="https://images.unsplash.com/photo-1636622433525-127afdf3662d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80" alt="Imagen del proyecto ProjectTITULO">
                        </div>
                        <div class="project_card_content">
                            <h3 class="project_card_title fs-5 m-0" id="title">
        
                                Project 2
                            </h3>
                            <p class="project_card_text lh-sm mt-3 mb-6" id="text">
        
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, dicta.
                            </p>
                            <div class="project_button_container"><a href="#" class="button d-block p-3">WEB / GITHUB</a></div>
                        </div>
                    </a></div>
                </ng-template>
                <ng-template swiperSlide class="swiper_slide">
                    <div class="project_card"><a class="project_link" href="#"> 
                        <div class="project_card_header animated_bg project_card_img" id="project_header">

                            <img src="https://images.unsplash.com/photo-1636622433525-127afdf3662d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80" alt="Imagen del proyecto ProjectTITULO">
                        </div>
                        <div class="project_card_content">
                            <h3 class="project_card_title fs-5 m-0" id="title">
        
                                Project 3
                            </h3>
                            <p class="project_card_text lh-sm mt-3 mb-6" id="text">
        
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, dicta.
                            </p>
                            <div class="project_button_container"><a href="#" class="button d-block p-3">WEB / GITHUB</a></div>
                        </div>
                    </a></div>
                </ng-template>
                <ng-template swiperSlide class="swiper_slide">
                    <div class="project_card"><a class="project_link" href="#"> 
                        <div class="project_card_header animated_bg project_card_img" id="project_header">

                            <img src="https://images.unsplash.com/photo-1636622433525-127afdf3662d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80" alt="Imagen del proyecto ProjectTITULO">
                        </div>
                        <div class="project_card_content">
                            <h3 class="project_card_title fs-5 m-0" id="title">
        
                                Project 4
                            </h3>
                            <p class="project_card_text lh-sm mt-3 mb-6" id="text">
        
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, dicta.
                            </p>
                            <div class="project_button_container"><a href="#" class="button d-block p-3">WEB / GITHUB</a></div>
                        </div>
                    </a></div>
                </ng-template>
                <ng-template swiperSlide class="swiper_slide">
                    <div class="project_card"><a class="project_link" href="#"> 
                        <div class="project_card_header animated_bg project_card_img" id="project_header">

                            <img src="https://images.unsplash.com/photo-1636622433525-127afdf3662d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80" alt="Imagen del proyecto ProjectTITULO">
                        </div>
                        <div class="project_card_content">
                            <h3 class="project_card_title fs-5 m-0" id="title">
        
                                Project 5
                            </h3>
                            <p class="project_card_text lh-sm mt-3 mb-6" id="text">
        
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, dicta.
                            </p>
                            <div class="project_button_container"><a href="#" class="button d-block p-3">WEB / GITHUB</a></div>
                        </div>
                    </a></div>
                </ng-template>
                <ng-template swiperSlide class="swiper_slide">
                    <div class="project_card"><a class="project_link" href="#"> 
                        <div class="project_card_header animated_bg project_card_img" id="project_header">

                            <img src="https://images.unsplash.com/photo-1636622433525-127afdf3662d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80" alt="Imagen del proyecto ProjectTITULO">
                        </div>
                        <div class="project_card_content">
                            <h3 class="project_card_title fs-5 m-0" id="title">
        
                                Project 6
                            </h3>
                            <p class="project_card_text lh-sm mt-3 mb-6" id="text">
        
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, dicta.
                            </p>
                            <div class="project_button_container"><a href="#" class="button d-block p-3">WEB / GITHUB</a></div>
                        </div>
                    </a></div>
                </ng-template>
            </swiper>
        </div>
    </div>
</section>