---
import Layout from "../layouts/Layout.astro";
import PostCard from "@components/PostCard.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import PostDivider from "@components/PostDivider.astro";
import Subtitle from "@components/Subtitle.astro";
import { sortPosts } from "@utils/sort";
interface Props {
  posts: CollectionEntry<"posts">[];
}

const posts = sortPosts(await getCollection("posts"), { limit: 5 });
---

<Layout
  title="Uriel Spiridione - Blog"
  description="Blog y repositorio personal hecho con astro"
>
  <main
    class="text-neutral-800 dark:text-neutral-200 flex items-center flex-col"
  >
    <section class="max-w-2xl w-full my-20">
      <Subtitle>Más recientes</Subtitle>
      <ul class="mt-8 px-2 md:px-0">
        {
          posts.map((post, i) => (
            <li>
              {i !== 0 && <PostDivider />}
              <PostCard post={post} />
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
