---
import Button from "./Button.astro";
interface Props {
  href: string;
  class?: string;
  id?: string;
}
const { class: className, id, href } = Astro.props;
---

<a href={href} id={id}>
  <Button class={className}>
    <slot />
  </Button>
</a>
