---
import type { HTMLAttributes } from "astro/types";
import NavigationNextIcon from "./icons/NavigationNextIcon.astro";
import NavigationPrevIcon from "./icons/NavigationPrevIcon.astro";

interface Props extends HTMLAttributes<"a"> {
  label: string;
  type?: "prev" | "next";
}
const { label, type = "next" } = Astro.props;
---

<a
  class={`flex-[1_0_40%] not-prose border rounded-lg py-3 px-4 dark:border-neutral-700 hover:bg-neutral-500/10 transition-all flex items-center justify-between ${
    type !== "next" ? "flex-row-reverse" : ""
  }`}
  {...Astro.props}
>
  <p class="text-base md:text-lg lg:text-xl font-semibold line-clamp-1">
    {label}
  </p>
  {type === "next" ? <NavigationNextIcon /> : <NavigationPrevIcon />}
</a>
