---
import LinkButton from "./LinkButton.astro";
interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

<section class="flex gap-2">
  {
    tags.map((tag) => (
      <LinkButton href={`/tag/${tag}`} class="p-0">
        #{tag}
      </LinkButton>
    ))
  }
</section>
