---
import Button from "./Button.astro";
import ShareIcon from "./icons/ShareIcon.astro";

interface Props {
  iconClass?: string;
}

const { iconClass } = Astro.props;
---

<Button class="p-1 flex items-center" id="share">
  <ShareIcon class={iconClass} />
</Button>

<script>
  function share() {
    const share = document.querySelector("#share");
    share?.addEventListener("click", () => {
      if (navigator.share) {
        navigator.share({
          title: `🖥️ ${document.title}`,
          url: window.location.href,
        });
      } else {
        alert("Sharing is not available in this browser.");
      }
    });
  }
  share();
  document.addEventListener("astro:after-swap", share);
</script>
