---
import type { HTMLAttributes } from "astro/types";
import TagIcon from "./icons/TagIcon.astro";

interface Props extends HTMLAttributes<"a"> {
  tag: string;
}
const { tag, ...props } = Astro.props;
---

<a
  class="flex items-center gap-1 border dark:border-neutral-600 border-neutral-400 rounded-md py-1 px-2 hover:bg-neutral-500/10 transition-all hover:scale-[102%] text-neutral-600 dark:text-neutral-400 hover:text-neutral-700 hover:dark:text-neutral-300"
  {...props}
>
  <TagIcon class="h-5" />
  <span class="font-semibold">#{tag}</span>
</a>
