---
import TagIcon from "./icons/TagIcon.astro";

interface Props {
  tag: string;
}

const { tag } = Astro.props;
---

<header class="flex ms-8 text-3xl md:text-4xl font-semibold items-center gap-2">
  <TagIcon class="h-8 mt-1" />
  <h1>{tag}</h1>
</header>
