<div class="modal" id="editExperienceModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="" (ngSubmit)="onSubmit()">
                <div class="modal-header">
                    <h5 class="modal-title text-dark" id="editExperienceModalLabel">Edit experience</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="onClose()"></button>
                </div>
                <div class="modal-body">
                    <h5 class="text-dark mb-2">Job information</h5>
                    <input type="text" class="form-control mb-2" id="editCompany" name="company" [(ngModel)]="experienceActual.company" placeholder="Company">
                    <input type="text" class="form-control mb-2" id="editPosition" name="position" [(ngModel)]="experienceActual.position" placeholder="Position">
                    <select class="form-select mb-4" id="editJobType" [(ngModel)]="experienceActual.job_type" name="job_type">
                        <option selected class="text-dark" disabled>Job type</option>
                        <option *ngFor="let job of jobs" [value]="job.name" class="text-dark" [selected]="experienceActual.job_type == job.name">{{job.name}}</option>
                    </select>
                    <h5 class="text-dark">
                        Time
                        <input type="checkbox" class="form-check-input ms-4 fs-6" id="editCheckActual" name="is_actual" [(ngModel)]="experienceActual.is_actual">
                        <label class="form-check-label text-dark ms-1 fs-6" for="editCheckActual">
                            Is Actual
                        </label>
                    </h5>
                    <div class="row g-2 mb-4">
                        <div class="col-sm">
                            <label for="editStartDate" class="form-label fs-6 text-dark mb-0">Start date</label>
                            <input type="date" class="form-control" id="editStartDate" name="start_date" [(ngModel)]="formated_start_date">
                        </div>
                        <div class="col-sm">
                            <label for="editEndDate" class="form-label fs-6 text-dark mb-0">End date</label>
                            <input type="date" class="form-control" id="editEndDate" name="end_date" [(ngModel)]="formated_end_date">
                        </div>
                    </div>
                    <h5 class="text-dark mb-2">Links</h5>
                    <input type="text" class="form-control mb-2" id="editExperienceImgUrl" placeholder="Image url" name="img_url" [(ngModel)]="experienceActual.img_url">
                    <input type="text" class="form-control mb-1" id="editExperienceLink" placeholder="Link" name="link" [(ngModel)]="experienceActual.link">
                    <input type="checkbox" class="form-check-input" id="editExperienceEnabledLink" name="enabled_link" [(ngModel)]="experienceActual.enabled_link">
                    <label class="form-check-label text-dark ms-1 mb-1" for="editExperienceEnabledLink">
                        Enable link
                    </label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onClose()">Close</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>