<section class="skills min-vh-100 pt-5 pb-5" id="skills">
    <div class="skills_container d-flex flex-column h-100 justify-content-center align-items-center p-5">
        <h1 class="skills_title">Skills</h1>
        <hr class="skills_hr opacity-100 w-25 mt-1">
        <div class="skills_cards_container">
            <ul class="skills_cards row row-cols-1 p-0 p-lg-5 gy-3 justify-content-center align-items-center">
                <li class="skill_card col-lg-6 me-3 position-relative"> <!--*ngFor="let skill of data_skills"-->
                    <div class="skill_header d-flex flex-row align-items-center justify-content-center position-relative">
                        <i class="fa-brands fa-html5 skill_icon"></i><!--class="{{skill.icon}}"-->
                        <h3 class="skill_title">Habilidad</h3><!---->
                        <i class="fa-solid fa-pen-to-square edit_button edit_button_ico position-absolute top-0 end-0 p-2"></i>
                    </div>
                    <div class="skill_bar_content mt-2">
                        <span class="skill_bar"><span class="skill_progress_1 w-75"></span></span><!--class="skill_progress_1" [ngStyle]="{'width' : skill.percentage}-->
                    </div>
                </li>
                <li class="skill_card col-lg-6 me-3"> <!--*ngFor="let skill of data_skills"-->
                    <div class="skill_header d-flex flex-row align-items-center justify-content-center position-relative">
                        <i class="fa-brands fa-html5 skill_icon"></i><!--class="{{skill.icon}}"-->
                        <h3 class="skill_title">Habilidad</h3><!---->
                        <i class="fa-solid fa-pen-to-square edit_button edit_button_ico position-absolute top-0 end-0 p-2"></i>
                    </div>
                    <div class="skill_bar_content mt-2">
                        <span class="skill_bar"><span class="skill_progress_1 w-75"></span></span><!--class="skill_progress_1" [ngStyle]="{'width' : skill.percentage}-->
                    </div>
                </li>
                <li class="skill_card col-lg-6 me-3"> <!--*ngFor="let skill of data_skills"-->
                    <div class="skill_header d-flex flex-row align-items-center justify-content-center position-relative">
                        <i class="fa-brands fa-html5 skill_icon"></i><!--class="{{skill.icon}}"-->
                        <h3 class="skill_title">Habilidad</h3><!---->
                        <i class="fa-solid fa-pen-to-square edit_button edit_button_ico position-absolute top-0 end-0 p-2"></i>
                    </div>
                    <div class="skill_bar_content mt-2">
                        <span class="skill_bar"><span class="skill_progress_1 w-75"></span></span><!--class="skill_progress_1" [ngStyle]="{'width' : skill.percentage}-->
                    </div>
                </li>
                <li class="skill_card col-lg-6 me-3"> <!--*ngFor="let skill of data_skills"-->
                    <div class="skill_header d-flex flex-row align-items-center justify-content-center position-relative">
                        <i class="fa-brands fa-html5 skill_icon"></i><!--class="{{skill.icon}}"-->
                        <h3 class="skill_title">Habilidad</h3><!---->
                        <i class="fa-solid fa-pen-to-square edit_button edit_button_ico position-absolute top-0 end-0 p-2"></i>
                    </div>
                    <div class="skill_bar_content mt-2">
                        <span class="skill_bar"><span class="skill_progress_1 w-75"></span></span><!--class="skill_progress_1" [ngStyle]="{'width' : skill.percentage}-->
                    </div>
                </li>
                <li class="skill_card col-lg-6 me-3"> <!--*ngFor="let skill of data_skills"-->
                    <div class="skill_header d-flex flex-row align-items-center justify-content-center position-relative">
                        <i class="fa-brands fa-html5 skill_icon"></i><!--class="{{skill.icon}}"-->
                        <h3 class="skill_title">Habilidad</h3><!---->
                        <i class="fa-solid fa-pen-to-square edit_button edit_button_ico position-absolute top-0 end-0 p-2"></i>
                    </div>
                    <div class="skill_bar_content mt-2">
                        <span class="skill_bar"><span class="skill_progress_1 w-75"></span></span><!--class="skill_progress_1" [ngStyle]="{'width' : skill.percentage}-->
                    </div>
                </li>
                <li class="skill_card col-lg-6 me-3"> <!--*ngFor="let skill of data_skills"-->
                    <div class="skill_header d-flex flex-row align-items-center justify-content-center position-relative">
                        <i class="fa-brands fa-html5 skill_icon"></i><!--class="{{skill.icon}}"-->
                        <h3 class="skill_title">Habilidad</h3><!---->
                        <i class="fa-solid fa-pen-to-square edit_button edit_button_ico position-absolute top-0 end-0 p-2"></i>
                    </div>
                    <div class="skill_bar_content mt-2">
                        <span class="skill_bar"><span class="skill_progress_1 w-75"></span></span><!--class="skill_progress_1" [ngStyle]="{'width' : skill.percentage}-->
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>