*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat" , sans-serif;
    color: white;
}

a {
    font-weight: 600;
    text-decoration: none;
    color: white;
}

h1, h2, h3,
h4, h5, h6{
    font-family: "Montserrat" , sans-serif;
}

.edit_button{
    background-color: white;
    border-radius: 50%;
    border: 1px solid #b3bab9;
    padding: 10px;
    color: #1f2233;
    transition: all .3s;
    cursor: pointer;
}
.edit_button:hover{
    background-color: rgba(255, 255, 255, .8);
    border: 1px solid rgba(179, 186, 185, 0.1);
    color: #dc3545;
}

.add_button{
    background-color: white;
    border-radius: 50%;
    border: 1px solid #b3bab9;
    padding: 10px;
    color: #1f2233;
    transition: all .3s;
    cursor: pointer;
}
.add_button:hover{
    background-color: rgba(255, 255, 255, .8);
    border: 1px solid rgba(179, 186, 185, 0.1);
    color: #dc3545;
}

.delete_button{
    background-color: white;
    border-radius: 50%;
    border: 1px solid #b3bab9;
    padding: 10px;
    color: #1f2233;
    transition: all .3s;
    cursor: pointer;
    width: 38px;
}
.delete_button:hover{
    background-color: rgba(255, 255, 255, .8);
    border: 1px solid rgba(179, 186, 185, 0.1);
    color: #dc3545;
}

.button{
    background-color: #dc3545;
    border: 1px solid #dc3545;
    border: 4px;
    border-radius: 5px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 800;
    transition: all .25s;
    color: white;
    text-decoration: none;
}

.button:hover{
    background-color: rgba(220, 53, 69, .8);
    color: rgba(255, 255, 255, .8);
}