---
import Layout from "./Layout.astro";
import DocsSideBar from "./components/collection/CollectionSideBar.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<Layout title={title} description={description}>
  <div class="flex w-full">
    <aside
      class="w-80 h-[calc(100vh-4rem)] sticky top-16 shadow-md dark:shadow-md dark:shadow-neutral-700 hidden sm:block"
    >
      <DocsSideBar />
    </aside>
    <section class="flex-1">
      <slot />
    </section>
  </div>
</Layout>
