---
import { getCollection } from "astro:content";
import Layout from "./Layout.astro";
import { capitalize, getFolder, getFolders } from "@utils/utils";
import DocsSideBar from "./components/docs/DocsSideBar.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
const docs = await getCollection("docs");
const folders = getFolders(docs);
const filteredFolders = folders.map((folder) => {
  const content = docs.filter((doc) => getFolder(doc.slug) === folder);
  return {
    title: folder,
    content: content,
    type:
      content.length === 1 && content[0].slug.split("/").length === 1
        ? "single"
        : "folder",
  };
});
const currentPage = Astro.url.pathname;
---

<Layout title={title} description={description}>
  <div class="flex w-full">
    <aside
      class="w-80 h-[calc(100vh-4rem)] shadow-md dark:shadow-md dark:shadow-neutral-700 hidden sm:block"
    >
      <DocsSideBar />
    </aside>
    <section class="flex-1 h-[calc(100vh-4rem)] overflow-y-auto">
      <slot />
    </section>
  </div>
</Layout>
