---
import { ViewTransitions } from "astro:transitions";
import BaseHead from "./components/BaseHead.astro";
import Navbar from "./components/Navbar.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html id="layout" lang="en" class="dark">
  <head>
    <BaseHead title={title} description={description} />
    <ViewTransitions />
  </head>
  <body class="bg-zinc-100 dark:bg-neutral-900">
    <Navbar />
    <slot />
  </body>
</html>
