<section class="experience vh-100" id="experience">
    <div class="experience_container d-flex flex-column h-100 justify-content-center align-items-center">
        <div class="experience_header d-flex flex-row justify-content-center">
            <h1 class="experience_title">Experience</h1>
            <div class="ico_container">
                <i class="fa-solid fa-plus add_button add_button_ico position-absolute mt-2 ms-3" data-bs-toggle="modal" data-bs-target="#addExperienceModal"></i>
                <div class="modal fade" id="addExperienceModal" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-dark" id="exampleModalLabel">Add new experience</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h5 class="text-dark mb-2">Job information</h5>
                                <input type="text" class="form-control mb-2" id="inputCompany" placeholder="Company" value="">
                                <input type="text" class="form-control mb-2" id="inputPosition" placeholder="Position" value="">
                                <input type="text" class="form-control mb-2" id="inputDescription" placeholder="Job Description" value="">
                                <select class="form-select mb-4" id="inputJobType">
                                    <option selected class="text-dark">Job type</option>
                                    <option value="1" class="text-dark">One</option>
                                    <option value="2" class="text-dark">Two</option>
                                    <option value="3" class="text-dark">Three</option>
                                </select>
                                <h5 class="text-dark">
                                    Time
                                    <input type="checkbox" class="form-check-input ms-4 fs-6" id="checkActual">
                                    <label class="form-check-label text-dark ms-1 fs-6" for="checkActual">
                                        Is Actual
                                    </label>
                                </h5>
                                <div class="row g-2 mb-4">
                                    <div class="col-sm">
                                        <label for="inputStartDate" class="form-label fs-6 text-dark mb-0">Start date</label>
                                        <input type="date" class="form-control" id="inputStartDate" placeholder="Start Date" value="">
                                    </div>
                                    <div class="col-sm">
                                        <label for="inputEndDate" class="form-label fs-6 text-dark mb-0">End date</label>
                                        <input type="date" class="form-control" id="inputEndDate" placeholder="End date" value="">
                                    </div>
                                </div>
                                <h5 class="text-dark mb-2">Links</h5>
                                <input type="text" class="form-control mb-2" id="inputImgUrl" placeholder="Image url" value="">
                                <input type="text" class="form-control mb-1" id="inputLink" placeholder="Link" value="">
                                <input type="checkbox" class="form-check-input" id="checkEnabledLink">
                                <label class="form-check-label text-dark ms-1 mb-1" for="checkActual">
                                    Enable link
                                </label>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="experience_hr opacity-100">
        <div class="experience_cards_container mt-2">
            <ul class="experience_cards">
                <li class="experience_card"><a class="experience_link d-flex flex-row"><!--*ngFor="let education of data_experience"--><!--[href]="experience.link"-->
                    <div class="experience_card_header animated_bg experience_card_img" id="experience_header">
                        <!-- &nbsp; -->
                        <img src="https://picsum.photos/id/1005/500/300" alt="Imagen del proyecto">
                    </div>
                    <div class="experience_card_content position-relative">
                        <h3 class="experience_card_title animated_bg animated_bg_title fs-5" id="title">
                            <!-- &nbsp; -->
                            Trabajo
                        </h3>
                        <p class="experience_card_text" id="text">
                            <!-- &nbsp; -->
                            Empresa | Desde to Hasta | Tipo
                        </p>
                        <div class="experience_buttons position-absolute top-50 end-0 translate-middle-y me-4">
                            <i class="fa-solid fa-pen-to-square edit_button edit_button_ico me-3"></i>
                            <i class="fa-solid fa-trash delete_button"></i>
                        </div>
                    </div>
                </a></li>
                <li class="experience_card"><a class="experience_link d-flex flex-row"><!--*ngFor="let education of data_experience"--><!--[href]="experience.link"-->
                    <div class="experience_card_header animated_bg experience_card_img" id="experience_header">
                        <!-- &nbsp; -->
                        <img src="https://picsum.photos/id/1005/500/300" alt="Imagen del proyecto">
                    </div>
                    <div class="experience_card_content position-relative">
                        <h3 class="experience_card_title animated_bg animated_bg_title fs-5" id="title">
                            <!-- &nbsp; -->
                            Trabajo
                        </h3>
                        <p class="experience_card_text" id="text">
                            <!-- &nbsp; -->
                            Empresa | Desde to Hasta
                        </p>
                        <div class="experience_buttons position-absolute top-50 end-0 translate-middle-y me-4">
                            <i class="fa-solid fa-pen-to-square edit_button edit_button_ico me-3"></i>
                            <i class="fa-solid fa-trash delete_button"></i>
                        </div>
                    </div>
                </a></li>
                <li class="experience_card"><a class="experience_link d-flex flex-row"><!--*ngFor="let education of data_experience"--><!--[href]="experience.link"-->
                    <div class="experience_card_header animated_bg experience_card_img" id="experience_header">
                        <!-- &nbsp; -->
                        <img src="https://picsum.photos/id/1005/500/300" alt="Imagen del proyecto">
                    </div>
                    <div class="experience_card_content position-relative">
                        <h3 class="experience_card_title animated_bg animated_bg_title fs-5" id="title">
                            <!-- &nbsp; -->
                            Trabajo
                        </h3>
                        <p class="experience_card_text" id="text">
                            <!-- &nbsp; -->
                            Empresa | Desde to Hasta
                        </p>
                        <div class="experience_buttons position-absolute top-50 end-0 translate-middle-y me-4">
                            <i class="fa-solid fa-pen-to-square edit_button edit_button_ico me-3"></i>
                            <i class="fa-solid fa-trash delete_button"></i>
                        </div>
                    </div>
                </a></li>
            </ul>
        </div>
    </div>
</section>