<section class="experience vh-100" id="experience">
    <div class="experience_container d-flex flex-column h-100 justify-content-center align-items-center">
        <div class="experience_header d-flex flex-row justify-content-center">
            <h1 class="experience_title">Experience</h1>
            <div class="ico_container">
                <i class="fa-solid fa-plus add_button add_button_ico position-absolute mt-2 ms-3"></i>
            </div>
        </div>
        <hr class="experience_hr opacity-100">
        <div class="experience_cards_container mt-2">
            <ul class="experience_cards">
                <li class="experience_card"><a class="experience_link d-flex flex-row"><!--*ngFor="let education of data_experience"--><!--[href]="experience.link"-->
                    <div class="experience_card_header animated_bg experience_card_img" id="experience_header">
                        <!-- &nbsp; -->
                        <img src="https://picsum.photos/id/1005/500/300" alt="Imagen del proyecto">
                    </div>
                    <div class="experience_card_content position-relative">
                        <h3 class="experience_card_title animated_bg animated_bg_title fs-5" id="title">
                            <!-- &nbsp; -->
                            Trabajo
                        </h3>
                        <p class="experience_card_text" id="text">
                            <!-- &nbsp; -->
                            Empresa | Desde to Hasta
                            <span class="animated_bg animated_bg_text">&nbsp;</span>
                            <span class="animated_bg animated_bg_text">&nbsp;</span>
                            <span class="animated_bg animated_bg_text">&nbsp;</span>
                        </p>
                        <div class="experience_buttons position-absolute top-50 end-0 translate-middle-y me-4">
                            <i class="fa-solid fa-pen-to-square edit_button edit_button_ico me-3"></i>
                            <i class="fa-solid fa-trash delete_button"></i>
                        </div>
                    </div>
                </a></li>
                <li class="experience_card"><a class="experience_link d-flex flex-row"><!--*ngFor="let education of data_experience"--><!--[href]="experience.link"-->
                    <div class="experience_card_header animated_bg experience_card_img" id="experience_header">
                        <!-- &nbsp; -->
                        <img src="https://picsum.photos/id/1005/500/300" alt="Imagen del proyecto">
                    </div>
                    <div class="experience_card_content position-relative">
                        <h3 class="experience_card_title animated_bg animated_bg_title fs-5" id="title">
                            <!-- &nbsp; -->
                            Trabajo
                        </h3>
                        <p class="experience_card_text" id="text">
                            <!-- &nbsp; -->
                            Empresa | Desde to Hasta
                            <span class="animated_bg animated_bg_text">&nbsp;</span>
                            <span class="animated_bg animated_bg_text">&nbsp;</span>
                            <span class="animated_bg animated_bg_text">&nbsp;</span>
                        </p>
                        <div class="experience_buttons position-absolute top-50 end-0 translate-middle-y me-4">
                            <i class="fa-solid fa-pen-to-square edit_button edit_button_ico me-3"></i>
                            <i class="fa-solid fa-trash delete_button"></i>
                        </div>
                    </div>
                </a></li>
                <li class="experience_card"><a class="experience_link d-flex flex-row"><!--*ngFor="let education of data_experience"--><!--[href]="experience.link"-->
                    <div class="experience_card_header animated_bg experience_card_img" id="experience_header">
                        <!-- &nbsp; -->
                        <img src="https://picsum.photos/id/1005/500/300" alt="Imagen del proyecto">
                    </div>
                    <div class="experience_card_content position-relative">
                        <h3 class="experience_card_title animated_bg animated_bg_title fs-5" id="title">
                            <!-- &nbsp; -->
                            Trabajo
                        </h3>
                        <p class="experience_card_text" id="text">
                            <!-- &nbsp; -->
                            Empresa | Desde to Hasta
                            <span class="animated_bg animated_bg_text">&nbsp;</span>
                            <span class="animated_bg animated_bg_text">&nbsp;</span>
                            <span class="animated_bg animated_bg_text">&nbsp;</span>
                        </p>
                        <div class="experience_buttons position-absolute top-50 end-0 translate-middle-y me-4">
                            <i class="fa-solid fa-pen-to-square edit_button edit_button_ico me-3"></i>
                            <i class="fa-solid fa-trash delete_button"></i>
                        </div>
                    </div>
                </a></li>
            </ul>
        </div>
    </div>
</section>