<section class="experience min-vh-100 d-flex justify-content-center align-items-center pt-5 pb-5" id="experience">
    <div class="experience_container d-flex flex-column h-100 justify-content-center align-items-center">
        <div class="experience_header d-flex flex-row justify-content-center">
            <h1 class="experience_title">Experience</h1>
            <div class="ico_container">
                <i class="fa-solid fa-plus add_button add_button_ico position-absolute mt-2 ms-3" data-bs-toggle="modal" data-bs-target="#addExperienceModal"></i>
            </div>
            <div class="modal fade" id="addExperienceModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form action="" (ngSubmit)="addExperience()">
                            <div class="modal-header">
                                <h5 class="modal-title text-dark" id="addExperienceModalLabel">Add new experience</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="onClose()"></button>
                            </div>
                            <div class="modal-body">
                                <h5 class="text-dark mb-2">Job information</h5>
                                <input type="text" class="form-control mb-2" id="inputCompany" placeholder="Company" name="company" [(ngModel)]="experienceToAdd.company">
                                <input type="text" class="form-control mb-2" id="inputPosition" placeholder="Position" name="position" [(ngModel)]="experienceToAdd.position">
                                <select class="form-select mb-4 text-dark" id="inputJobType" name="job_type" [(ngModel)]="experienceToAdd.job_type">
                                    <option selected class="text-dark" disabled>Job type</option>
                                    <option *ngFor="let job of jobs" [value]="job.name" class="text-dark">{{job.name}}</option>
                                </select>
                                <h5 class="text-dark">
                                    Time
                                    <input type="checkbox" class="form-check-input ms-4 fs-6" id="checkActualExperience" name="is_actual" [(ngModel)]="experienceToAdd.is_actual">
                                    <label class="form-check-label text-dark ms-1 fs-6" for="checkActual">
                                        Is Actual
                                    </label>
                                </h5>
                                <div class="row g-2 mb-4">
                                    <div class="col-sm">
                                        <label for="inputExperienceStartDate" class="form-label fs-6 text-dark mb-0">Start date</label>
                                        <input type="date" class="form-control" id="inputExperienceStartDate" placeholder="Start Date" name="start_date" [(ngModel)]="start_date">
                                    </div>
                                    <div class="col-sm">
                                        <label for="inputExperienceEndDate" class="form-label fs-6 text-dark mb-0">End date</label>
                                        <input type="date" class="form-control" id="inputExperienceEndDate" placeholder="End date" name="end_date" [(ngModel)]="end_date">
                                    </div>
                                </div>
                                <h5 class="text-dark mb-2">Links</h5>
                                <input type="text" class="form-control mb-2" id="inputExperienceImgUrl" placeholder="Image url" name="img_url" [(ngModel)]="experienceToAdd.img_url">
                                <input type="text" class="form-control mb-1" id="inputExperienceLink" placeholder="Link" name="link" [(ngModel)]="experienceToAdd.link">
                                <input type="checkbox" class="form-check-input" id="checkExperienceEnabledLink" name="enabled_link" [(ngModel)]="experienceToAdd.enabled_link">
                                <label class="form-check-label text-dark ms-1 mb-1" for="checkExperienceEnabledLink">
                                    Enable link
                                </label>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onClose()">Close</button>
                                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <hr class="experience_hr opacity-100">
        <div class="experience_cards_container mt-2">
            <ul class="experience_cards">
                <li class="experience_card position-relative" *ngFor="let experience of data">
                    <a class="experience_link d-flex flex-row" [href]="experience?.link">
                        <div class="experience_card_header animated_bg experience_card_img" id="experience_header">
                            <img [src]="experience?.img_url" alt="Imagen del proyecto">
                        </div>
                        <div class="experience_card_content">
                            <h3 class="experience_card_title animated_bg animated_bg_title fs-5" id="title">
                                {{experience?.position}}
                            </h3>
                            <p class="experience_card_text" id="text">
                                {{experience?.company}} | {{experience?.start_date}} to {{experience?.end_date}} | {{experience?.job_type}}
                            </p>
                        </div>
                    </a>
                    <div class="experience_buttons position-absolute top-50 end-0 translate-middle-y me-4">
                        <i class="fa-solid fa-pen-to-square edit_button edit_button_ico me-3" (click)="openEditModal(experience)" data-bs-toggle="modal" data-bs-target="#editExperienceModal"></i>
                        <i class="fa-solid fa-trash delete_button" (click)="onDelete(experience)" ></i>
                    </div>
                </li>
            </ul>
            <app-experience-modal [experience] = "experienceToEdit" (onUpdateExperience)="updateExperience($event)"></app-experience-modal>
        </div>
    </div>
</section>